*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
.video_item {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .video_item {
   flex-direction: column;
  }
}

.video_item.item img{
  max-width: 180px;
  align-self: start;
}